
body{
    background-color: #fafafa;
    overflow-x: hidden;
}

  
  /* fluid typography formula: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])))*/
  /* pie annotation label */
/* g.annotation[data-index="0"] text.annotation-text{
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (2500 - 300)))!important;
    
} */


  /* pie annotation pct */
/* g.annotation[data-index="1"] text.annotation-text{
      font-size: calc(40px + (90 - 40) * ((100vw - 300px) / (2500 - 300)))!important;
      
} */

.metric_dropdown,
.months_dropdown
{
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (2500 - 300)))!important;
    font-weight: 600;
}


.left-block--indicators{
    flex-wrap: nowrap!important;
    height: 300px;
}

@media screen and (max-width:768px){
    .left-block--indicators{
        flex-wrap: wrap!important;
        height: 60%
    }
    .progress_bar,
    .summary{
        flex: 0 0 100%!important;
       
    }  
}
@media screen and (min-width: 1600px) and (max-width: 1600px){
    .progress_bar,
    .summary{
    flex: 0 0 50%!important;
    max-width: 100%!important;
    }
}
